<launch>
    <node pkg="dji_osdk_ros" node="dji_vehicle_node" name="vehicle_node" output="screen">
    <!-- node parameters -->
    <param name="acm_name" value="/dev/ttyACM0"/>
    <param name="serial_name" value="/dev/ttyUSB0"/>
    <param name="baud_rate" value="921600"/>
    <param name="app_id" value="12345"/>
    <param name="app_version" value="1"/>
    <param name="align_time" value="false"/>
    <param name="enc_key" value="abc123"/>
    <param name="use_broadcast" value="false"/>
    </node>
</launch>
